body{
    font-size: 16px;
    margin: auto;
    margin: 0;;
}
.all{
    width: 1440px;
    margin: auto;
}
section{
    margin-bottom: 50px !important;
    margin: auto;
    
}
.first-part{
    background-color: #F0FFF0;
    height: 576px;
    
    
}
.part-2{
    margin-bottom: 50px;
}
#part-3 h1{
    margin-bottom: 50px;
    font-size: 50px;

}
nav ul li a{
    font-size: 20px;
    color:#000000;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    position: static;
    left: 5px;
    top:5px;
}
nav ul li{
    padding-left: 20px;
}
.signin-button{
    border-radius: 30px;
    padding: 12px 28px !important;
    background-color: #21B573;
    color: white;
    font-style: normal;
}

.learn-highlight{
    font-size: 55px;
    line-height: 60px;
    font-weight: bold;
}
.schedule-text{
    color:#21B573;
}

.get-button{
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #21B573;
    color: white;
    font-style: normal;
    line-height: 60px;
}

.photo-carousel img{
    width: 640px;
}

.study_material{
    width: 1200px;
    margin-bottom: 80px !important;
    
}
.study-online-course{
    height: 700px;
    width: 1200px;
}
.material-img img{
    width: 70px;
    height: 100px;
}
.material-img{
    background-color: #F8FFFB;
    border: none;
}
#special{
    box-shadow: 5px 10px 5px whitesmoke;
}
.body-card1{
    height: 800px;
}
.card{
    height: 250px;
}

.testominal{
    width: 1200px;
    margin: auto;
    margin-top: 20px !important;
    height: 400px !important;
}
.testominal h1{
    margin-bottom: 50px;
}
footer{
    width: 1440px;
    margin: auto;
    background-color: black;
    color: thistle;
    padding: 30px;
    font-size: 18px;

}
.col-background{
    border: 2px solid red;
}
