
header{
    background-color:#F0FFF0;
}


nav ul li a{
    font-size: 20px;
    color:#000000;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    position: static;
    left: 5px;
    top:5px;
}
nav ul li{
    padding-left: 20px;
}
.signin-button{
    border-radius: 30px;
    padding: 12px 28px !important;
    background-color: #21B573;
    color: white;
    font-style: normal;
}

.schedule-text{
    color:#21B573;
}

.get-button{
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #21B573;
    color: white;
    font-style: normal;
    line-height: 60px;
}

.photo-carousel img{
    width: 100%;
}
.card img{
    width: 30%;
    height: 30%;
}
.card{
    background-color:rgba(209, 245, 243,0.2);
    box-shadow: 5px 5px 10px 10px gainsboro;
    border-radius: 5px;
}

.card-course img{
    width: 100%;
    
}
.cale img{
    width: 30px;
    padding-right: 8px;
}
.test-photo img{
    margin: auto;
}




